/* General styling */

.container {
  height: 100%;
  padding: 0;
}

.row {
  margin: 0;
}

/* Header nav styling */

.mat-drawer-container {
  background-color: transparent;
}

.navigation-header {
  height: 81px;
  max-width: 100%;
  margin: 1em 0;
}

.header-row {
  margin: 1em 0;
}

.mat-tab-link {
  color: black;
}

.mat-icon {
  color: chocolate;
}

.my-photo {
  width: 50px;
  height: 48px;
  border-radius: 50%;
}

/* Sidenav styling */

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #000;
  overflow-x: hidden;
  transition: 1s;
}

button:focus {
  outline: none;
}

ul, li {
  list-style: none;
  margin: 15px 10px;
  padding-inline-start: 0;
  text-align: center;
  color: #fff;
}

li:focus {
  outline: none;
}


/* Footer styling */

.footer-row {
  width: 100%;
  color: #fff;
  background-color: #000;
  text-align: center;
}

div p:first-of-type {
  margin-bottom: 0;
}

h6 {
  margin-top: .5rem;
}

.social-icons, .social-icons:focus, .social-icons:active {
  display: inline-block;
  margin: .5em;
  width: 2em;
  height: 2em;
  color: #000;
  background-color: #fff;
  border-radius: 50%;
  cursor: pointer;
}

.social-icons:hover {
  color: #fff;
  background-color: #000;
}

fa-icon {
  line-height: 1.9em;
}

.close-sidenav {
  text-align: end;
}
