<div class="container-fluid">
  <div class="row">
    <div fxFlex fxLayout fxLayoutAlign="end" class="col-xl-3 col-md-12">
        <img src="../assets/my_photo.jpg" alt="My Photo" class="my-photo">
    </div>
    <div class="col-xl-9 col-md-12">
      <nav mat-tab-nav-bar mat-align-tabs="end">
        <a mat-tab-link
           *ngFor="let link of links"
           (click)="activeLink = link"
           [active]="activeLink == link"
           [routerLink]="link">{{ link | uppercase }}</a>
      </nav>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
