<div class="container-fluid">
  <div class="row div-row-with-image">
    <div class="col-12 front-end">
      <span>FRONT END DEVELOPER</span>
    </div>
    <div class="col-12 fullname">
      <span>VITALII SUSIAK</span>
    </div>
  </div>
  <div class="row div-row-acquainted-text">
    <span>Let`s get acquainted</span>
  </div>
  <div class="row div-row-about-me">
    <div class="col-2"></div>
    <div class="col-4">
      <img src="../../../assets/man-laptop.svg" alt="man-laptop">
    </div>
    <div class="col-4">
      <p>Hello there! Let`s get acquainted! I`m a front end developer who loves coding more than wife :).</p>
      <p>Joking aside, I’m a hard-working and dedicated front-end developer with a keen eye for
        detail, and a determination to deliver the very highest quality. I take
        great pride in my work and always try to better myself with every
        project I work on. The main areas of my expertise are HTML(5), CSS(3),
        and JavaScript (specifically Angular). <br> Interested in working with me?
        <a [routerLink]="'../contact'" class="get-in-touch-link">Get in touch</a> and I’d be happy to talk to you.</p>
      <button mat-raised-button color="primary">DOWNLOAD CV</button>
    </div>
    <div class="col-2"></div>
  </div>
</div>

